<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highrock.cart.">

	<select id="findCartNeedDisabled" parameterType="java.util.Map">
	SELECT c.cart_no,selection_img
		FROM cp_cart c
		LEFT JOIN cp_cart_sub s
		on c.cart_no=s.cart_no
		<where>
			date_sub(curdate(), INTERVAL #{map.day} DAY)  &gt; date(create_time)
			AND status =1
		 <if test="map.hasuser==1">
			 AND c.user_id is not null
		 </if>
		<if test="map.hasuser==0">
			AND c.user_id is null
		</if>
			AND selection_img is not null);
		</where>
	</select>

</mapper>