<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.highrock.priceoff.dao.PriceMapper">
	<update id="priceOff" statementType="CALLABLE" parameterType="java.util.Map">
		<![CDATA[
             CALL update_price(#{map.basicPrice},#{map.goosePrice},#{map.hoodePrice},#{map.chestPocketPrice},#{map.chestLogoPrice},#{map.cuffLogoPrice});
         ]]>
	</update>


</mapper>